.SanPham{
    margin-top: 40px;
}
.mainImg{
    height: 500px;
}
.buttons{
    margin-top: 30px;
}
#quantity{
    width: 30px;
    pointer-events: none;
    background-color: #fff;
}
.Imgcon{
    height: 100px;
    cursor: pointer;
    padding: 2px;
}
.Imgcon:hover{
    border: 2px solid #FFB0BD;
    padding: 0px;
}
.dd_mon {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dd_mon_image {
    flex: 1;
}

.dd_mon_info {
    padding: 10px;
}
