/* *{
    ser-select: none; 
} */
.logo{
    height: 100px;
    align-items: center;
    border-radius: 8px;
}
.header{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block; 
  cursor: pointer; 
}
.search-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    border:3px solid #FFB0BD;
    border-radius: 9px;
    height: 40px;
}

.search-input {
  flex-grow: 1;
  border: none;
  background: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  color: rgb(88, 88, 88);
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    cursor: pointer;
    height: 100%;
    width: 40px;
    background-color: #FFB0BD;
}
.space{
    margin: 0 5px;
}
.auth_link{
    transition: ease-in 0.2s;
}
.auth_link:hover{
    color: #FFB0BD;
}
.Icon{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cart{
    margin-left: 20px;
    font-size: xx-large;

}
.cart-badge {
    position: absolute;
    top: 28px;
    right: 53px;
}
.subHeader{
    margin-top: 10px;
    background-color: #FFB0BD;
    padding-top: 20px;
}
.hinhsubHeader{
    height: 46px;
    cursor: pointer;
}

.item{
    text-align: center;
    
}
.sp{
    margin-bottom: 30px;
}
.footer{
    background-color: #FFB0BD;
    min-height: 100px;
    padding: 20px;
}
.giohang{
    display: flex;
    justify-content: center;

    margin-left: 30px;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in 0.3s;

}
.giohang:hover{
    background-color: #FFB0BD;
}
.footer{
    margin-top: 10px;
    background-color: #FFB0BD;
    padding-top: 20px;
}
.pagination{
    display: flex;
    justify-content: center;

}
.card{
    height: 400px;
    margin-bottom: 30px;
}
.card-img-top{
    height: 300px;
}
.icons{
    font-size: x-large;
}